.body {
  width: 100%;
  max-width: 1920px;
  min-height: 1080px;
  height: 100vh;
  font-family: 'UniSans-heavy';
  background: url('../assets/img/background.jpg') no-repeat center center / cover;
}

::-webkit-scrollbar {
  display: none;
}

.header__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__logo {
  margin: 29px 0 24px 0;
}

.header__description {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
}

.header__text {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 5px;
}

.header__title-bg {
  width: 496px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  background: var(--pink);
  transform: skewX(352deg);
}

.header__title {
  font-size: 40px;
  line-height: 48px;
  transform: skewX(9deg);
}

.spinner__container {
  width: 835px;
  height: 835px;
  position: relative;
  margin: 0 auto;
  background: url('../assets/img/wheel-bg.png') no-repeat center center / contain; 
}

.spinner__wheel {
  width: 642px;
  height: 642px;
  position: absolute;
  top: 66px;
  left: 94px;
  background: url('../assets/img/wheel.png') no-repeat center center / contain;
}

@keyframes spin {
  from {transform: rotate(360deg);}
  to {transform: rotate(0deg);}
}

.spinner__cell {
  width: 260px;
  height: 350px;
  position: absolute;
  top: 68px;
  left: 286px;
  background: url('../assets/img/cell.png') no-repeat center center / contain;
}

.spinner__button {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 317px;
  left: 345px;
  z-index: 10;
  background: url('../assets/img/button.png') no-repeat center center / contain;
  border-radius: 100%;
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1920px;
  min-height: 1080px;
  height: 100vh;
  overflow: hidden;
}

.background__woman {
  width: 838px;
  height: 794px;
  position: absolute;
  bottom: 0;
  left: 88px;
  background: url('../assets/img/woman.png') no-repeat center center / contain;
}

.background__purple-small-ball {
  width: 180px;
  height: 171px;
  position: absolute;
  top: 58px;
  left: 196px;
  background: url('../assets/img/purple-small-ball.png') no-repeat center center / contain;
}

.background__purple-big-ball {
  width: 313px;
  height: 358px;
  position: absolute;
  bottom: 141px;
  right: 0;
  background: url('../assets/img/purple-big-ball.png') no-repeat center center / contain;
}

.background__orange-ball {
  width: 62px;
  height: 62px;
  position: absolute;
  bottom: 418px;
  left: 131px;
  background: url('../assets/img/orange-ball.png') no-repeat center center / contain;
}

.background__green-ball {
  width: 72px;
  height: 72px;
  position: absolute;
  bottom: 540px;
  right: 341px;
  background: url('../assets/img/green-ball.png') no-repeat center center / contain;
}

.background__red-big-ball {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 227px;
  right: 365px;
  background: url('../assets/img/red-big-ball.png') no-repeat center center / contain;
}

.background__red-small-ball {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 310px;
  right: 187px;
  background: url('../assets/img/red-small-ball.png') no-repeat center center / contain;
}